@page
@using System.Text.RegularExpressions
@model IndexModel
@{
    ViewBag.Title = "Luca Dalla Valle - Developer";
}

@{
    int GetAge(DateTime birthdate)
    {
        // Save today's date.
        var today = DateTime.Today;
        // Calculate the age.
        var age = today.Year - birthdate.Year;
        // Go back to the year the person was born in case of a leap year
        if (birthdate > today.AddYears(-age))
        {
            age--;
        }
        return age;
    }

    string GetExperiencePeriodString(DateTime from, DateTime? to)
    {
        var realTo = to ?? DateTime.Now;

        var currentDate = from;
        var m = 0;
        while (currentDate <= realTo)
        {
            m++;
            currentDate = currentDate.AddMonths(1);
        }

        var tsFormatted = m >= 12 ? $"{m / 12} Year{(m / 12 == 1 ? "" : "s")}{(m == 12 ? "" : $" {m % 12} Month{(m % 12 == 1 ? "" : "s")}")}" : $"{m} Month{(m == 1 ? "" : "s")}";
        return $"{from:Y} - {(!to.HasValue ? "Present" : to.Value.ToString("Y"))} ({tsFormatted})";
    }
}


<div class="jumbotron jumbotron-fluid text-center" id="ldv-jumbotron">
    <div class="container">
        <h1 class="display-4">Luca Dalla Valle</h1>
        <hr class="ldv-horizontal-divider">
        <p class="lead">Welcome to my site</p>
    </div>
    <div class="container-fluid text-center" id="ldv-arrow-container">
        <div class="ldv-arrow ldv-bounce">
            <a class="fas fa-arrow-down fa-2x" href="javascript:void(0)"></a>
        </div>
    </div>
</div>
<div id="ldv-sections">
    <div class="ldv-section" id="ldv-section-profile">
        <header>
            <h2 class="ldv-other-text-color text-center">Profile</h2>
            <p class="lead text-center">C# and web developer</p>
            <hr class="ldv-horizontal-divider">
        </header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="ldv-other-text-color">About</h5>
                    I'm a full stack developer. I particularly love C# and the .NET ecosystem.
                </div>
                <div class="col text-center">
                    <img src="~/img/ldv.png" height="150px">
                </div>
                <div class="col">
                    <h5 class="ldv-other-text-color">Details</h5>
                    <p>
                        <strong>Name: </strong>Luca Dalla Valle<br>
                        <strong>Location: </strong>Treviso area, Italy<br>
                        <strong>Age: </strong>@GetAge(new DateTime(1991, 4, 9))<br>
                        <a href="mailto:luca@lucadallavalle.com">Contact</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="ldv-section" id="ldv-section-tools">
        <header>
            <h2 class="ldv-other-text-color text-center">Tools</h2>
            <hr class="ldv-horizontal-divider">
        </header>
        <div class="container">
            <div class="row">
                <div class="col text-center font-italic">
                    <ul>
                        <li>Visual Studio</li>
                        <li>C#</li>
                        <li>Visual Studio Code</li>
                        <li>Insomnia</li>
                        <li>Rider</li>
                        <li>Git</li>
                        <li>Azure DevOps</li>
                        <li>GitVersion</li>
                        <li>Postgres</li>
                        <li>SQL Server</li>
                    </ul>
                </div>
                <div class="col text-center font-italic">
                    <ul>
                        <li>ASP.NET</li>
                        <li>Razor Pages</li>
                        <li>SimpleInjector</li>
                        <li>Serilog</li>
                        <li>Xunit</li>
                        <li>FluentAssertions</li>
                        <li>Rx.NET</li>
                        <li>Nuke</li>
                        <li>CosmosDB</li>
                        <li>Application Insights</li>
                        <li>Azure Functions</li>
                        <li>Azure Key Vault</li>
                        <li>Event Hub</li>
                        <li>Azure Storage</li>
                        <li>Azure Web Apps</li>
                    </ul>
                </div>
                <div class="col text-center font-italic">
                    <ul>
                        <li>Angular</li>
                        <li>LibMan</li>
                        <li>JQuery</li>
                        <li>Yarn</li>
                        <li>Npm</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ldv-section">
        <header>
            <h2 class="ldv-other-text-color text-center">Badges</h2>
            <hr class="ldv-horizontal-divider">
        </header>
        <div class="container">

            <div class="row ldv-badges-acclaim-row">
                @{
                    var myAcclaimBadges = new List<(string image, string url)>()
                    {
                        ("exam-483.png", @"https://www.youracclaim.com/badges/b5f36a7b-d616-4dfc-8908-901375c460b1/public_url"),
                        ("exam-486.png", @"https://www.youracclaim.com/badges/14c4da1c-8399-4fba-a223-3a844e611d25/public_url"),
                        ("mcsa-web.png", @"https://www.youracclaim.com/badges/a445e5dc-0fb9-4fae-8553-397a74646d2d/public_url")
                    };
                    foreach (var b in myAcclaimBadges)
                    {
                        <div class="col-sm d-flex justify-content-center">
                            <div class="ldv-badge-myacclaim">
                                <a href="@b.url" target="_blank">
                                    <img class="" src="~/img/myacclaim/@b.image" alt="MyAcclaim badge"/>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="row ldv-badges-pluralsight-row">
                @{
                    var pluralsightBadgeImages = new List<string>() {"csharp.png", "aspnetcore.png"};
                    foreach (var b in pluralsightBadgeImages)
                    {
                        <div class="col-sm d-flex justify-content-center">
                            <div class="ldv-badge-pluralsight">
                                <a href="https://app.pluralsight.com/profile/lucadv91" target="_blank">
                                    <img class="rounded" src="~/img/pluralsight/@b" alt="Pluralsight badge"/>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>

        </div>
    </div>
    <div class="ldv-section" id="ldv-section-timeline">
        <header>
            <h2 class="ldv-other-text-color text-center">Experience</h2>
            <hr class="ldv-horizontal-divider">
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="timeline">
                        @{
                            for (int i = 0; i < Model.Experiences.Count; i++)
                            {
                                <div class="timeline-container @(i % 2 == 0 ? "timeline-left" : "timeline-right")">
                                    <div class="timeline-content">
                                        <header>
                                            <span>@GetExperiencePeriodString(Model.Experiences[i].DateFrom, Model.Experiences[i].DateTo)</span>
                                        </header>
                                        <div>
                                            <h5>
                                                <b>@Model.Experiences[i].Role at <a href="@(Model.Experiences[i].CompanyUrl)" target="_blank">@(Model.Experiences[i].Company)</a></b>
                                            </h5>
                                            <p>
                                                <i>@Model.Experiences[i].Summary</i>
                                            </p>
                                            <br/>
                                            <ul>
                                                @{
                                                    foreach (var a in Model.Experiences[i].Accomplishments)
                                                    {
                                                        <li>@a</li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ldv-section" id="ldv-section-now">
        <header>
            <h2 class="ldv-other-text-color text-center">Now</h2>
            <hr class="ldv-horizontal-divider">
        </header>
        <div class="container">
            <div class="text-center">
                <ul>
                    <li>Putting up a programming blog</li>
                    <br/>
                    <li>Reading <i>"Domain-Driven Design: Tackling Complexity in the Heart of Software"</i> by Eric Evans</li>
                </ul>
            </div>
        </div>
    </div>
</div>